.news-card {
  background-color: #FFE8E2;
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.news-image {
  width: 100%;
  height: auto;
  display: block;
}

.news-text {
  
  color: #4A1434;
  font-size: 20px;
  padding: 25px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .news-text {
    
    color: #4A1434;
    font-size: 18px;
    padding: 25px;
    box-sizing: border-box;
  }
}