.news-section {
  padding: 60px 75px;
  background-color: #fff;
}

.news-title {
  color: #4A1434;
  font-size: 45px;
  margin-bottom: 40px;
}

.news-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Адаптив */
@media (max-width: 1024px) {
  .news-grid {
    justify-content: center;
  }
  .news-title {
    color: #4A1434;
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .news-grid {
    flex-direction: column;
    align-items: center;
  }
  .news-section {
    padding: 40px 30px;
    background-color: #fff;
  }
}